<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
        <section name="FiltersList" type="NetStreamsDebugger.Support.FiltersConfigurationSection, NetStreamsDebugger, Version=1.0.0.0, Culture=neutral" />
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NetStreamsDebugger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <FiltersList>
        <Filters>
            <clear />
            <add Name="Cycles Difference" Pattern="Cycles Difference*" Exclude="true" Include="false" />
            <add Name="Address Manager" Pattern="AddrMgr::*" Exclude="true" Include="false"/>
            <add Name="Slow Start" Pattern="Slow Start *" Exclude="true" Include="false"/>
            <add Name="Audio Data" Pattern="AD.DLL:*" Exclude="true" Include="false"/>
            <add Name="IGMP Report" Pattern="Send IGMP report*" Exclude="true" Include="false"/>
            <add Name="CAnmtMsg" Pattern="CAnmtMsg::Init*" Exclude="true" Include="false"/>
            <add Name="Roommates" Pattern="Roommates:*" Exclude="true" Include="false"/>
            <add Name="GetPermId" Pattern="GetPermId*" Exclude="true" Include="false"/>
            <add Name="Slave VCO" Pattern="Slave VCO*" Exclude="true" Include="false"/>
            <add Name="CDeviceService" Pattern="CDeviceService*" Exclude="true" Include="false"/>
            <add Name="Updating status socket" Pattern="Updating status socket timer for *" Exclude="true" Include="false"/>
            <add Name="Status Registration" Pattern="Status Registration" Exclude="true" Include="false"/>
            <add Name="Temperature Readings" Pattern="Temp = *" Exclude="false" Include="false"/>
        </Filters>
    </FiltersList>
    <log4net>
        <root>
            <level value="ALL" />
            <appender-ref ref="AllAppender" />
        </root>
        <appender name="AllAppender" type="NetStreamsDebugger.Support.InsarioRollingFileAppender,NetStreamsDebugger">
            <param name="File" value="Digi_Log_All_" />
            <staticLogFileName value="false" />
            <appendToFile value="true" />
            <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
            <rollingStyle value="Composite" />
            <datePattern value="yyyy_MM_dd&quot;.txt&quot;" />
            <maxSizeRollBackups value="30" />
            <maximumFileSize value="2MB" />
            <layout type="log4net.Layout.PatternLayout,log4net">
                <param name="Header" value="&#xD;&#xA;Begin Debugging Session&#xD;&#xA;" />
                <param name="Footer" value="End Debugging Session&#xD;&#xA;" />
            </layout>
        </appender>

        <!-- 
        <logger name="Driver">
            <level value="All"/>
            <appender-ref ref="DriverAppender" />
        </logger>
        <logger name="Info">
            <level value="All"/>
            <appender-ref ref="InfoAppender" />
        </logger>
        <logger name="Warn">
            <level value="All"/>
            <appender-ref ref="WarnAppender" />
        </logger>
        <logger name="Error">
            <level value="All"/>
            <appender-ref ref="ErrorAppender" />
        </logger>
        <logger name="GUI">
            <level value="All"/>
            <appender-ref ref="GUIAppender" />
        </logger>
        <appender name="DriverAppender" type="NetStreamsDebugger.Support.InsarioRollingFileAppender,NetStreamsDebugger">
            <param name="File" value="Digi_Log_Driver_" />
            <staticLogFileName value="false" />
            <appendToFile value="true" />
            <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
            <rollingStyle value="Composite" />
            <datePattern value="yyyy_MM_dd&quot;.txt&quot;" />
            <maxSizeRollBackups value="30" />
            <maximumFileSize value="2MB" />
            <layout type="log4net.Layout.PatternLayout,log4net">
                <param name="Header" value="&#xD;&#xA;Begin Debugging Session&#xD;&#xA;" />
                <param name="Footer" value="End Debugging Session&#xD;&#xA;" />
            </layout>
        </appender>
        <appender name="InfoAppender" type="NetStreamsDebugger.Support.InsarioRollingFileAppender,NetStreamsDebugger">
            <param name="File" value="Digi_Log_Info_" />
            <staticLogFileName value="false" />
            <appendToFile value="true" />
            <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
            <rollingStyle value="Composite" />
            <datePattern value="yyyy_MM_dd&quot;.txt&quot;" />
            <maxSizeRollBackups value="30" />
            <maximumFileSize value="2MB" />
            <layout type="log4net.Layout.PatternLayout,log4net">
                <param name="Header" value="&#xD;&#xA;Begin Debugging Session&#xD;&#xA;" />
                <param name="Footer" value="End Debugging Session&#xD;&#xA;" />
            </layout>
        </appender>
        <appender name="WarnAppender" type="NetStreamsDebugger.Support.InsarioRollingFileAppender,NetStreamsDebugger">
            <param name="File" value="Digi_Log_Warn_" />
            <staticLogFileName value="false" />
            <appendToFile value="true" />
            <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
            <rollingStyle value="Composite" />
            <datePattern value="yyyy_MM_dd&quot;.txt&quot;" />
            <maxSizeRollBackups value="30" />
            <maximumFileSize value="2MB" />
            <layout type="log4net.Layout.PatternLayout,log4net">
                <param name="Header" value="&#xD;&#xA;Begin Debugging Session&#xD;&#xA;" />
                <param name="Footer" value="End Debugging Session&#xD;&#xA;" />
            </layout>
        </appender>
        <appender name="ErrorAppender" type="NetStreamsDebugger.Support.InsarioRollingFileAppender,NetStreamsDebugger">
            <param name="File" value="Digi_Log_Error_" />
            <staticLogFileName value="false" />
            <appendToFile value="true" />
            <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
            <rollingStyle value="Composite" />
            <datePattern value="yyyy_MM_dd&quot;.txt&quot;" />
            <maxSizeRollBackups value="30" />
            <maximumFileSize value="2MB" />
            <layout type="log4net.Layout.PatternLayout,log4net">
                <param name="Header" value="&#xD;&#xA;Begin Debugging Session&#xD;&#xA;" />
                <param name="Footer" value="End Debugging Session&#xD;&#xA;" />
            </layout>
        </appender>

        <appender name="GUIAppender" type="NetStreamsDebugger.Support.InsarioRollingFileAppender,NetStreamsDebugger">
            <param name="File" value="Digi_Log_GUI_" />
            <staticLogFileName value="false" />
            <appendToFile value="true" />
            <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
            <rollingStyle value="Composite" />
            <datePattern value="yyyy_MM_dd&quot;.txt&quot;" />
            <maxSizeRollBackups value="30" />
            <maximumFileSize value="2MB" />
            <layout type="log4net.Layout.PatternLayout,log4net">
                <param name="Header" value="&#xD;&#xA;Begin Debugging Session&#xD;&#xA;" />
                <param name="Footer" value="End Debugging Session&#xD;&#xA;" />
            </layout>
        </appender>
        -->
        <!--
                ALL 
                DEBUG 
                INFO 
                WARN 
                ERROR 
                FATAL 
                OFF         
        <appender name="ErrorAppender" type="NetStreamsDebugger.Support.InsarioRollingFileAppender,NetStreamsDebugger">
            <param name="File" value="DigiLog_ERROR_" />
            <staticLogFileName value="false" />
            <appendToFile value="true" />
            <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
            <rollingStyle value="Composite" />
            <datePattern value="yyyy_MM_dd&quot;.txt&quot;" />
            <maxSizeRollBackups value="30" />
            <maximumFileSize value="2MB" />
            <layout type="log4net.Layout.PatternLayout,log4net">
                <param name="Header" value="&#xD;&#xA;Begin Debugging Session&#xD;&#xA;" />
                <param name="Footer" value="End Debugging Session&#xD;&#xA;" />
            </layout>
        </appender>
        <appender name="WarningAppender" type="NetStreamsDebugger.Support.InsarioRollingFileAppender,NetStreamsDebugger">
            <param name="File" value="DigiLog_WARNING_" />
            <staticLogFileName value="false" />
            <appendToFile value="true" />
            <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
            <rollingStyle value="Composite" />
            <datePattern value="yyyy_MM_dd&quot;.txt&quot;" />
            <maxSizeRollBackups value="30" />
            <maximumFileSize value="2MB" />
            <layout type="log4net.Layout.PatternLayout,log4net">
                <param name="Header" value="&#xD;&#xA;Begin Debugging Session&#xD;&#xA;" />
                <param name="Footer" value="End Debugging Session&#xD;&#xA;" />
            </layout>
        </appender>        
        <appender name="DriverAppender" type="NetStreamsDebugger.Support.InsarioRollingFileAppender,NetStreamsDebugger">
            <param name="File" value="DigiLog_DRIVER_" />
            <staticLogFileName value="false" />
            <appendToFile value="true" />
            <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
            <rollingStyle value="Composite" />
            <datePattern value="yyyy_MM_dd&quot;.txt&quot;" />
            <maxSizeRollBackups value="30" />
            <maximumFileSize value="2MB" />
            <layout type="log4net.Layout.PatternLayout,log4net">
                <param name="Header" value="&#xD;&#xA;Begin Debugging Session&#xD;&#xA;" />
                <param name="Footer" value="End Debugging Session&#xD;&#xA;" />
            </layout>
        </appender>
        <appender name="InfoAppender" type="NetStreamsDebugger.Support.InsarioRollingFileAppender,NetStreamsDebugger">
            <param name="File" value="DigiLog_INFO_" />
            <staticLogFileName value="false" />
            <appendToFile value="true" />
            <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
            <rollingStyle value="Composite" />
            <datePattern value="yyyy_MM_dd&quot;.txt&quot;" />
            <maxSizeRollBackups value="30" />
            <maximumFileSize value="2MB" />
            <layout type="log4net.Layout.PatternLayout,log4net">
                <param name="Header" value="&#xD;&#xA;Begin Debugging Session&#xD;&#xA;" />
                <param name="Footer" value="End Debugging Session&#xD;&#xA;" />
            </layout>
        </appender>

        <logger name="DebugLogger">
            <level value="DEBUG" />
            <appender-ref ref="DriverAppender" />
        </logger>
        <logger name="InfoLogger">
            <level value="INFO" />
            <appender-ref ref="InfoAppender" />
        </logger>
        <logger name="WarnLogger">
            <level value="WARN" />
            <appender-ref ref="WarningAppender" />
        </logger>
        <logger name="ErrorLogger">
            <level value="ERROR" />
            <appender-ref ref="ErrorAppender" />
        </logger>
        -->
    </log4net>
    <userSettings>
        <NetStreamsDebugger.Properties.Settings>
            <setting name="AutoScroll" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogPerMessageType" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogFolder" serializeAs="String">
                <value>C:\Temp\</value>
            </setting>
            <setting name="CaptureDriver" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CaptureInfo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CaptureWarning" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CaptureError" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LargeSystemBehavior" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CaptureGUI" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MulticastAddress" serializeAs="String">
                <value>239.255.16.21</value>
            </setting>
            <setting name="MulticastPort" serializeAs="String">
                <value>9000</value>
            </setting>
            <setting name="LoggingEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DebuggerVersion" serializeAs="String">
                <value>0.95</value>
            </setting>
            <setting name="LogSelectedMessageTypesOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogObeysFilterRules" serializeAs="String">
                <value>False</value>
            </setting>
        </NetStreamsDebugger.Properties.Settings>
    </userSettings>
</configuration>